<header></header>
<body>
	<div id="header"></div>
	<div id="page">
		<div id="age"> <!--should have an onload that gets the age -->
			<h2 align="center" style="height:13px;margin-top:10px">Age</h2>
			<div id="age_value" align="center" style="margin-top:21px"><font size="7" >21</font></div>
		</div>
	</div>
	


	
	
	<div id="container">Loading..</div> <!--where the events will populate-->
		

</body>
<footer></footer>
