<header></header>
<body>
	<div id='nav'>
		<div id="age">
			age<span>21</span>
		</div>
	</div>
	
	
	<div id="container">Loading..</div> <!--where the events will populate-->
		

</body>
<footer></footer>