<header></header>
<body>
	<div id="header"></div>
	<div id="page">
		<div id="age"> <!--should have an onload that gets the age -->
			<div style="background-color:#ff0000;height:30px;margin-top:-15px">
				<h2 align="center" style="padding-top:7px">Age</h2>
			</div>
			<div id="age_value" align="center" style="margin-top:21px"><font size="7" >21</font></div>
		</div>
		<div class="vertical_line">
		</div>
	</div>
	


	
	
	<div id="container">Loading..</div> <!--where the events will populate-->
		

</body>
<footer></footer>
