/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


/** colors**

teal blue: #55c3DC rgb(85,195,220)
light blue: #E7F3EF rbg(231, 243, 239)
dark gray: #73726D rgb (115, 114, 109)
red: #E24B2C rgb (226,75,44)

**/



html{
	background-color:#444444;
}


body { 
	font: 12px/18px "Lucida Grande", Geneva, Arial, Verdana, sans-serif; 
	color:#333; 
	margin:0 auto;
  	width:1440px;
	}
	
header{
	height:100px;
}

#age{
	border: 1px solid gray;
	border-radius: 3px;
	width: 60px;
	height: 60px;
	margin-left:200px;
	background-color:#fff;
}

#end_float{
	clear:both;
}

.vertical_line{
	border-left:2px solid #4FC3DE;
	height:1000px;
	position:absolute;
	left:230px;
	z-index:-100;
}
.circle
{
	border: 1px solid gray;
	height:70px;
	border-radius:50%;
	width:70px;
	float:left;
	background-color:#fff;
	z-index:10;
}
.circle_img{
	z-index:100;
	height:70px;
	width:70px;
}

#user_prf{
	margin-left:195px;
}

#filter_bar{
	margin-left:195px;
	margin-top:10px;
	height:90px;
}
.filter{
	float:left;
}

.button{
	border:1px solid #a9a9a9;
	width:50px;
	height:5px;
	border-radius:40%;
	background-color: #a9a9a9;
	margin-top:35px;
}

.link{
	width:20px;
	float:left;
	margin-top:40px;
}

#connect_grandparents{
	margin-left:60%;
}

#circle_gp1, #circle_gp2, #circle_gp3, #circle_gp4
{
	float:left;
	margin-left:10px;
	
}

#search{
	margin-left:900px;
	margin-top:-50px;
}

#date{
	margin-top:50px;
	margin-left:180px;
	width:100px;
	height:50px;
	background-color:#fff
}
