/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


/** colors**

teal blue: #55c3DC rgb(85,195,220)
light blue: #E7F3EF rbg(231, 243, 239)
dark gray: #73726D rgb (115, 114, 109)
red: #E24B2C rgb (226,75,44)

**/



html{
	background-color:#444444;
}


body { 
	font: 12px/18px "Lucida Grande", Geneva, Arial, Verdana, sans-serif; 
	color:#fff; 
	margin:0 auto;
  	width:1440px;
	line-height:1.5em;
	}
	
header{
	height:100px;
}

#age{
	margin-left:185px;
	margin-top:-20px;
	background-color:#4FC3DE;
	text-align:center;
}

#age > *:nth-child(1){
	padding-top:15%;
	text-align:center;
	font-size:14px;
}

#age > *:nth-child(2){
	padding-top:10%;
	margin-top:-7px;
	margin-left:2px;
	font-size:3em;
}

#end_float{
	clear:both;
}

.vertical_line{
	border-left:2px solid #4FC3DE;
	height:2000px;
	position:absolute;
	left:230px;
	z-index:-100;
}

.large_circle{
	height:90px;
	width:90px;
	border-radius:50%;
	

}

.circle
{
	/*border: 1px solid gray;*/
	height:70px;
	border-radius:50%;
	width:70px;
	float:left;
	/*background-color:#fff;*/
	z-index:10;
}
.circle_img{
	z-index:100;
	height:70px;
	width:70px;
}

#profile{
	margin-left:195px;
	margin-top:300px;
}

#filter_bar{
	margin-left:195px;
	margin-top:10px;
	height:90px;
}
.filter{
	float:left;
}

.button{
	border:1px solid #a9a9a9;
	width:50px;
	height:5px;
	border-radius:40%;
	background-color: #a9a9a9;
	margin-top:35px;
}


#connect_grandparents{
	margin-left:40%;
	margin-top:10px;
}

#circle_gp1, #circle_gp2, #circle_gp3, #circle_gp4
{
	float:left;
	margin-left:10px;
	
}

#search{
	margin-left:900px;
	margin-top:-50px;
}

#date{
	margin-top:10px;
	margin-left:185px;
	text-align:center;
	background-color:#eb4c0a;
	font-size:3em;
}

#date > *:nth-child(1){
	padding-top:20%;
}

#date > *:nth-child(2){
	
}

#status{
	width:100%;
	height:100px;
	margin-left:60%;
	margin-top:10px;
	background-color:#fff;
}

#time{
	height:70px;
	border-radius:50%;
	width:70px;
	background-color:#4FC3DE;
	margin-left:195px;
	margin-top:10px;
	text-align:center;
}

#time p{
	font-size:12px;
	font-weight:5;
	margin-top:25%;
}

span{
	display:block;
}

#event_box{
	margin-top:-300px;
	margin-left:232px;
	z-index:-1;
	width:100%;
	height:500px;
	background-color:rgba(255,255,255,0.1);
}
#event_img{
	height:400px;
	width:400px;
	margin-top:50px;
	margin-left:50px;
}
#year{
	font-size:40px;
	margin-left:450px;
	margin-top:-400px
}
#experience{
	font-size:20px;
	margin-left:450px;

}
#info_origin{
	font-size:15px;
	margin-left:450px;
	margin-top:-10px;
}
#gpchat_text{
	font-size:22px;
	margin-left:450px;
	margin-top:70px;
}
#chat_space{
	margin-left:450px;
}
#chat{
	background-color:#eb4c0a;
	margin-left:10px;
	float:left;
}
#call,#email,#skype{
	font-size:17px;
	text-align:center;
	margin-top:25px;
}
#how_to{
	margin-top:100px;
	margin-left:145px;
}
